/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset Above */

.body {
  font-size: 10px;
  /* background: url('https://source.unsplash.com/2JIvboGLeho/1950x1200') no-repeat center center fixed; */
}

.App {
  text-align: center;
}

.App-header {
  background: url('https://source.unsplash.com/mr9FouttLGY/1950x1200') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
}

.result {
  margin: auto;
}

.none {
  display: none;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.description {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
}

.item-option {
  font-size: 1rem;
}

.snack-img {
  width: 6.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#reeses {
  width: 8rem;
  margin-top: 1.5rem;
}

#snickers {
  margin-bottom: 2.2rem;
}

#jack {
  margin-top: .5rem;
}

li:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: .5rem;
  border: 2px black solid;
  border-radius: 5px;
  width: 75%;
  text-align: center;
  padding: .5rem;
  background-color: #80ced6;
  ;
}

.eq-example {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.eq-item {
  margin: 1rem;
}

button {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: .5rem;
  width: 4.5rem;
  border-radius: 5px;
  background-color: #80ced6;
  margin: 1rem;
}

.button {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: .5rem;
  border-radius: 5px;
  background-color: #80ced6;
  margin: 1rem;
}

.button:hover {
  transition: .4s;
  cursor: pointer;
  background-color: black;
  color: #80ced6;
}

button:hover {
  transition: .4s;
  cursor: pointer;
  background-color: black;
  color: #80ced6;
}

input:hover {
  cursor: pointer;
}

.error {
  color: red;
  font-size: 1rem;
}

p {
  margin: .3rem;
}

.graph {
  margin: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}

.center {
  margin: auto;
}

.margin-top {
  margin-top: 2rem;
}

/* Transitions Below */

.transition-container {
  perspective: 800px;
}

.react-transition {
  animation-fill-mode: both;
}

.multiple-choice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.question {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@keyframes swipeUp {
  from {
    transform: translate3d(0, 100vh, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0vh, 0);
    opacity: 1;
  }
}

.swipe-up {
  animation-timing-function: linear;
  transform-origin: bottom center;
  animation-name: swipeUp;
  animation-duration: 250ms;
}


@keyframes swipeLeft {
  from {
    transform: translate3d(-1000px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.swipe-left {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: swipeLeft;
  animation-duration: 300ms;
}


@keyframes swipeRight {
  from {
    transform: translate3d(1000px, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.swipe-right {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: swipeRight;
  animation-duration: 300ms;
}



@keyframes swipeDown {
  from {
    transform: translate3d(0, -100vh, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.swipe-down {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: swipeDown;
  animation-duration: 300ms;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: fadeIn;
  animation-duration: 250ms;
}


@keyframes scaleIn {
  from {
    transform: translateY(-500px) scale(.01);
  }

  to {
    transform: scale(1);
  }
}

.scale-in {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: scaleIn;
  animation-duration: 250ms;
}

@keyframes scaleInRight {
  from {
    transform: translateY(-500px) translateX(500px) scale(.01);
  }

  to {
    transform: scale(1);
  }
}

.scale-in-right {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: scaleInRight;
  animation-duration: 250ms;
}

@keyframes scaleInLeft {
  from {
    transform: translateY(-500px) translateX(-500px) scale(.01);
  }

  to {
    transform: scale(1);
  }
}

.scale-in-left {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: scaleInLeft;
  animation-duration: 250ms;
}



@keyframes dropIn {
  from {
    transform: scale(4) translateY(400px);
  }

  to {
    transform: scale(1);
  }
}

.drop-in {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: dropIn;
  animation-duration: 250ms;
}


@keyframes dropInRight {
  from {
    transform: scale(4) translateY(400px) translateX(400px);
  }

  to {
    transform: scale(1);
  }
}

.drop-in-right {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: dropInRight;
  animation-duration: 250ms;
}


@keyframes dropInLeft {
  from {
    transform: scale(4) translateY(400px) translateX(-400px);
  }

  to {
    transform: scale(1);
  }
}

.drop-in-left {
  animation-timing-function: ease-in-out;
  transform-origin: bottom center;
  animation-name: dropInLeft;
  animation-duration: 250ms;
}


@keyframes flipInX {
  from {
    transform: rotateX(90deg);
  }

  70% {
    transform: rotateX(-10deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.flip-in-x {
  animation-timing-function: linear;
  animation-name: flipInX;
  transform-style: preserve-3d;
  animation-duration: 300ms;
}

@keyframes flipInXReverse {
  from {
    transform: rotateX(-90deg);
  }

  70% {
    transform: rotateX(10deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

.flip-in-x-reverse {
  animation-timing-function: linear;
  animation-name: flipInXReverse;
  transform-style: preserve-3d;
  animation-duration: 300ms;
}



@keyframes flipInY {
  from {
    transform: rotateY(90deg);
  }

  70% {
    transform: rotateY(-10deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.flip-in-y {
  animation-timing-function: linear;
  animation-name: flipInY;
  animation-duration: 300ms;
  transform-style: preserve-3d;
}

@keyframes flipInYReverse {
  from {
    transform: rotateY(-90deg);
  }

  70% {
    transform: rotateY(10deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

.flip-in-y-reverse {
  animation-timing-function: linear;
  animation-name: flipInYReverse;
  animation-duration: 300ms;
  transform-style: preserve-3d;
}


@keyframes rotateIn {
  from {
    transform: scale(.1) rotate(180deg);
  }

  70% {
    /*transform:  rotate(10deg);*/
  }

  to {
    transform: rotate(0deg);
  }
}

.rotate-in {
  animation-timing-function: ease-in-out;
  animation-name: rotateIn;
  animation-duration: 300ms;
  transform-style: preserve-3d;
}



@keyframes rotateInReverse {
  from {
    transform: scale(.1) rotate(-180deg);
  }

  70% {
    /*transform:  rotate(10deg);*/
  }

  to {
    transform: rotate(0deg);
  }
}

.rotate-in-reverse {
  animation-timing-function: ease-in-out;
  animation-name: rotateInReverse;
  animation-duration: 300ms;
  transform-style: preserve-3d;
}

@keyframes woah {
  from {
    transform: scale(.001) translateX(200px);
  }

  25% {
    transform: scale(.25) rotateY(180deg) translateX(100px) translateY(100px);
  }

  50% {
    transform: scale(.5) rotateY(0deg) rotateX(180deg) translateX(-100px) translateY(600px);
  }

}

.woah {
  animation-timing-function: linear;
  animation-name: woah;
  animation-duration: 1s;
  transform-style: preserve-3d;
}

/* Multiple Choice Styling Below*/
.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 80%;
  /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-color: #80ced6;
  padding: 16px;
  border-radius: 16px;
  border: 3px solid black;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: #d5e1df;
  padding: 16px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
}

li:hover {
  transition: .3s;
  cursor: pointer;
  color: white;
  background-color: black;
}

#quiz-btn {
  background-color: #d5e1df;
  color: black;
}

#quiz-btn:hover {
  background-color: black;
  color: white;
}

.question-text {
  color: black;
  font-size: 24px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%;
  /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: #80ced6;
  padding: 16px;
  border-radius: 16px;
  border: 3px solid black;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}