/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* CSS Reset Above */

/* Global styles below */

.body {
  font-size: 10px;
}

.App {
  text-align: center;
}

.App-header {
  background: url('https://source.unsplash.com/mr9FouttLGY/1950x1200') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: black;
}

li:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: .5rem;
  border: 2px black solid;
  border-radius: 5px;
  width: 75%;
  text-align: center;
  padding: .5rem;
  background-color: #80ced6;
  ;
}

.result {
  margin: auto;
}


.description {
  font-size: 1rem;
}

p {
  font-size: 1.2rem;
  margin: .3rem;
}

input:hover {
  cursor: pointer;
}


.item-option {
  font-size: 1rem;
}

.snack-img {
  width: 6.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: space-evenly;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* Snacks */

#reeses {
  width: 8rem;
  margin-top: 1.5rem;
}

#snickers {
  margin-bottom: 2.2rem;
}

#jack {
  margin-top: .5rem;
}

.eq-example {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
}

.eq-item {
  margin: 1rem;
}

/* Button styles */

button {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: .5rem;
  width: 4.5rem;
  border-radius: 5px;
  background-color: #80ced6;
  margin: 1rem;
}

.button {
  text-align: center;
  font-family: 'Cormorant SC', serif;
  font-family: 'Merriweather', serif;
  font-family: 'Modern Antiqua', cursive;
  font-family: 'MuseoModerno', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: .5rem;
  border-radius: 5px;
  background-color: #80ced6;
  margin: 1rem;
}

.button:hover {
  transition: .4s;
  cursor: pointer;
  background-color: black;
  color: #80ced6;
}

button:hover {
  transition: .4s;
  cursor: pointer;
  background-color: black;
  color: #80ced6;
}

/* MISC Below */

.none {
  display: none;
}


.error {
  color: red;
  font-size: 1rem;
}

.graph {
  margin: 1rem;
  border: 2px solid black;
  border-radius: 5px;
}

.center {
  margin: auto;
}

.margin-top {
  margin-top: 2rem;
}



/* Multiple Choice Styling Below*/

.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 80%;
  /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  background-color: #80ced6;
  padding: 16px;
  border-radius: 16px;
  border: 3px solid black;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: #d5e1df;
  padding: 16px;
  border: 3px solid black;
  border-radius: 20px;
  font-size: 20px;
}

li:hover {
  transition: .3s;
  cursor: pointer;
  color: white;
  background-color: black;
}

#quiz-btn {
  background-color: #d5e1df;
  color: black;
}

#quiz-btn:hover {
  background-color: black;
  color: white;
}

.question-text {
  color: black;
  font-size: 24px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%;
  /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: #80ced6;
  padding: 16px;
  border-radius: 16px;
  border: 3px solid black;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}


/* Responsiveness */

.widget-container {
  width: 50rem;
}

.responsiveness-container-1 {
  width: 50rem;
  height: 42rem;
}

.responsiveness-container-2 {
  max-width: 25rem;
  /* height: 42rem; */
}

.responsiveness-container-3 {
  width: 50rem;
  height: 30rem;
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
  .youtube {
    width: 10rem;
  }

  .title {
    font-size: 1.3rem;
  }

  .graph {
    display: none;
  }

  .snack-img {
    width: 5.5rem;
  }

  #reeses {
    width: 5rem;
  }

  .responsiveness-container-1 {
    width: 30rem;
    height: 30rem;
  }

  .responsiveness-container-2 {
    width: 30rem;
  }

  .responsiveness-container-3 {
    width: 30rem;
    height: 30rem;
  }

  .responsiveness-container-4 {
    width: 40rem;
    height: 30rem;
  }

  .widget-container {
    width: 40rem;
  }

}

@media only screen and (min-width: 500px) and (max-width: 767px) {
  .title {
    font-size: 1rem;
  }

  .graph {
    display: none;
  }

  .snack-img {
    width: 3rem;
  }

  #reeses {
    width: 3.5rem;
  }

  .responsiveness-container-1 {
    width: 17rem;
    height: 35rem;
  }

  .responsiveness-container-2 {
    width: 17rem;
    height: 50rem;
  }

  .responsiveness-container-3 {
    width: 20rem;
    height: 30rem;
  }

  .responsiveness-container-4 {
    width: 20rem;
    height: 30rem;
  }

  .widget-container {
    width: 25rem;
  }

  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 400px) and (max-width: 499px) {
  .graph {
    display: none;
  }

  .section {
    flex-direction: column;
  }

  .snack-img {
    width: 2.5rem;
  }

  #reeses {
    width: 2.5rem;
  }


  .responsiveness-container-1 {
    width: 10rem;
    height: 60rem;
  }

  .responsiveness-container-2 {
    width: 15rem;
  }

  .responsiveness-container-3 {
    width: 15rem;
    height: 28rem;
  }

  .responsiveness-container-4 {
    width: 15rem;
    height: 28rem;
  }

  .widget-container {
    width: 20rem;
  }

  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 399px) {
  .graph {
    display: none;
  }

  .section {
    flex-direction: column;
  }

  .snack-img {
    width: 3rem;
  }

  #reeses {
    width: 3rem;
  }


  .responsiveness-container-1 {
    width: 8rem;
    height: 70rem;
  }

  .responsiveness-container-2 {
    width: 10rem;
  }

  .responsiveness-container-3 {
    width: 12rem;
    height: 31rem;
  }

  .responsiveness-container-4 {
    width: 12rem;
    height: 28rem;
  }


  .widget-container {
    width: 15rem;
  }

  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
  }
}